# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/
.venv/

# Flask / SQLite
instance/
shop.db
*.db
*.sqlite3

# Загрузки пользователей
static/uploads/*
!static/uploads/.gitkeep

# IDE
.vscode/
.idea/
*.swp

# macOS
.DS_Store

# OS
Thumbs.db
